<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Twig Login</title>
    </head>
    <body>
        <nav>
            <h1>
                {% if isAdminLogin %} Admin {% endif %}
                {{ loginHeaderText }}
            </h1>

            <ul>
                {% if isAdminLogin %}
                <li><a href="?admin=false">Login as user</a></li>
                {% else %}
                <li><a href="?admin=true">Login as admin</a></li>
                {% endif %}
            </ul>
        </nav>

        <section>
            <form method="post">
                <label for="username">Username</label>
                <input name="username" id="username" required />
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required />
                {{ submitButtonHTML | raw }}
            </form>
            <div>
                Total site logins: {{ totalSiteLogins | number_format }}
            </div>
            {% if error %}

            <div>
                {{ error }}
            </div>
            {% endif %}
        </section>
    </body>
</html>
